.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.app-container {
   width: 60vw;
   height: 90vh;
   background-color: #EDF0F5;
   border-radius: 20px;
}

.heading-container {
    background-color: #EDEFF4;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid #cacdd4b4;
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.link-wrap ul{
    display: flex;
}

.link-wrap ul li {
    list-style: none;
    margin: 0 0 0 2em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.heading-copy-container h1{
    margin: 0;
    color: black;
}

.heading-copy-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.active {
    background-color: #83d8cb;
    color: #01695a;
    border-radius: 8px;
}

