.chat-messages {
  color: black;
  height: 82%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.your-msg {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  color: white;
  width: 100%;
  padding: 0.4em 0;
}
.friend-msg {
  color: white;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  padding: 0.4em 0;
}

.friend-msg p,
.your-msg p {
  margin: 0;
  padding: 8px;
}

.your-bubble {
  background-color: #00a389;
  border-radius: 10px 10px 0px 10px;
  margin-right: 0.5em;
  max-width: 45%;
  overflow: visible;
  overflow-wrap: break-word;
}

.their-bubble {
  background-color: #fff;
  color: black;
  margin-left: 0.5em;
  border-radius: 10px 10px 10px 0px;
  max-width: 45%;
  overflow-wrap: break-word;
}

.name {
  padding: 0.5em 0.5em 0em 1.1em;
  margin: 0;
  font-size: 0.9em;
  color: black;
}

@media screen and (max-width: 660px) {
  .your-bubble,
  .their-bubble {
    max-width: 70%;
  }
}

@media screen and (max-height: 480px) {
  .chat-messages {
    height: 72%;
  }
}
@media screen and (max-height: 320px) {
  .chat-messages {
    height: 58%;
  }
}
