.logout-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  height: 2.5em;
  margin: 2.5em 0;
  border-radius: 50px;
  border: 0;
  background-color: #00a389;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  .logout-btn {
    color: #00a389;
  }
}
